In [536]:
# Import Pandas Library
import pandas as pd

In [537]:
# Read the csv data
csvpath = r"C:\Users\benjy\Documents\Bootcamp Repos\python-challange\PyPoll\Resources\PyPoll\Resources\election_data.csv"

In [538]:
# create a dataframe to hold and analyze data
ed_df = pd.read_csv(csvpath)
ed_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [539]:
# Check to see if there are rows missing data
ed_df.count()

Voter ID     3521001
County       3521001
Candidate    3521001
dtype: int64

In [540]:

# create the data frame for by candidate
columns = [
    "Candidate", 
    "Voter ID",
    "County"
]

candidate_counts = ed_df["Candidate"].value_counts()
candidate_counts

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [541]:
# Convert the Candidate_Counts Series into a DataFrame
candidate_counts_df = pd.DataFrame(candidate_counts)
candidate_counts_df.head()

          Candidate
Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630

In [542]:
# Convert the column name into "Total Votes Won"
candidate_counts_df = candidate_counts_df.rename(
    columns={"Candidate": "Total Votes Won"})   
candidate_counts_df["Total Votes Won"] = candidate_counts_df["Total Votes Won"].map("({:.0f})".format)
candidate_counts_df.head()
candidate_counts_df.reset_index(inplace=True)
candidate_counts_df.head()

      index Total Votes Won
0      Khan       (2218231)
1    Correy        (704200)
2        Li        (492940)
3  O'Tooley        (105630)

In [543]:
#Count Total Votes
totalv_count = ed_df['Voter ID'].count()
totalv_count

3521001

In [544]:
# Convert the Candidate_Counts / total votes Series into a DataFrame
candidate_per_df = round(pd.DataFrame(candidate_counts) / totalv_count * 100,2)
candidate_per_df = candidate_per_df.rename(
    columns={"Candidate": "Percent Votes Won"})
candidate_per_df.head()
candidate_per_df["Percent Votes Won"] = candidate_per_df["Percent Votes Won"].map("{:.3f}%".format)
candidate_per_df.reset_index(inplace=True)
candidate_per_df.head()

      index Percent Votes Won
0      Khan           63.000%
1    Correy           20.000%
2        Li           14.000%
3  O'Tooley            3.000%

In [545]:
# Right Merge Candidate_Count_DF with Candidate_per_df on index
merge_vt_df = pd.merge(candidate_per_df, candidate_counts_df, on="index", how="right")
merge_vt_df = merge_vt_df.rename(
    columns={"index": "Candidate"})
merge_vt_df.head()

  Candidate Percent Votes Won Total Votes Won
0      Khan           63.000%       (2218231)
1    Correy           20.000%        (704200)
2        Li           14.000%        (492940)
3  O'Tooley            3.000%        (105630)

In [546]:
# unique count by candidates
# candidate_vote = pd.DataFrame(ed_df["Candidate"].value_counts())
# candidate_vote


# use group by to create the percent of vote won and total votes
grouped_ed_df = ed_df.groupby(['Candidate'])
grouped_ed_df.count()
working_df = grouped_ed_df.count()
working_df.count
# working_df.sort_values("Voter Id")



# grouped_ed_df.head(10)

<bound method DataFrame.count of            Voter ID   County
Candidate
Correy       704200   704200
Khan        2218231  2218231
Li           492940   492940
O'Tooley     105630   105630>

In [547]:
#create data set that totals the votes for each candidate
vote_count = ed_df["Candidate"].value_counts()
vote_count_df = pd.DataFrame(ed_df["Candidate"].value_counts())
vote_count_df.columns

Index(['Candidate'], dtype='object')

In [548]:
# Create Election Analysis Summary
EA = ("Election Results")
dash = ("--------------------------------")
TV =  ("Total Votes: " + str(totalv_count))
dash2 = ("--------------------------------")
candidate1 = str(merge_vt_df.iloc[0,0] + ": " + merge_vt_df.iloc[0,1] + " " + merge_vt_df.iloc[0,2])
candidate2 = str(merge_vt_df.iloc[1,0] + ": " + merge_vt_df.iloc[1,1] + " " + merge_vt_df.iloc[1,2])
candidate3 = str(merge_vt_df.iloc[2,0] + ": " + merge_vt_df.iloc[2,1] + " " + merge_vt_df.iloc[2,2])
candidate4 = str(merge_vt_df.iloc[3,0] + ": " + merge_vt_df.iloc[3,1] + " " + merge_vt_df.iloc[3,2])
dash3 = ("--------------------------------")
winner = str("Winner: " + merge_vt_df.iloc[0,0])
dash4 = ("--------------------------------")

er_df = pd.DataFrame({"Election Results": [dash, TV, dash2, 
candidate1, candidate2, candidate3, candidate4, dash3, winner, dash4],})

er_df

                   Election Results
0  --------------------------------
1              Total Votes: 3521001
2  --------------------------------
3           Khan: 63.000% (2218231)
4          Correy: 20.000% (704200)
5              Li: 14.000% (492940)
6         O'Tooley: 3.000% (105630)
7  --------------------------------
8                      Winner: Khan
9  --------------------------------

In [550]:
# Export a text file that contains the Election Results Text File
er_df.to_csv("Analysis/Election_Results.txt", index=False, header=True)